@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-primary: #3F2965;
  --color-accent: #DD1764;
  --color-softPurple: #C7BEDA;
  --color-softPink: #F7C6D6;
  --color-lightBg: #F9F7FC;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont;
  background: #faf7fb; /* soft off-white */
  color: #2b1f3a;
  overflow-x: hidden;
}
button{
  cursor: pointer;
}
